<h1>Suchen</h1>

<%= render 'form' %>



<% if @search.suche.empty? %>

        <table>
            <tr>
                <th></th>
                <th>Name</th>
    
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <th>Verliehen</th>
                        <th>Userids</th>
                        <th>Anzahl</th>
                    <% end %>
                <% end %>
    
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <% @dvds.each do |dvd| %>
            <tr>
                <td><%= image_tag (dvd.bild),  :height => "75" %></td>
                <td><%= dvd.name %></td>
    
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <td><%= dvd.verliehen %></td>
                        <td><%= dvd.userids %></td>
                        <td><%= dvd.anzahl %></td>
                    <% end %>
                <% end %>
    
                <td><%= link_to 'Info', dvd %></td>
    
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <td><%= link_to 'Bearbeiten', edit_dvd_path(dvd) %></td>
                    <% else %>
            
                        <% @x = 0 %>
                        <% @y = false %>
                        <% @dvdusers = dvd.userids.split("-") %>
                        <% while @x < @dvdusers.size %>
                            <% if @dvdusers[@x] == current_user.id.to_s %>
                    
                                <% @y = true %>
                            <% end %>
                            <% @x = @x + 1 %>
                        <% end %>
    
                        <% if @y == true %>
                            <td><%= link_to 'Zurueckgeben', edit_dvd_path(dvd) %></td>
                        <% else %>
                            <% if dvd.verliehen < dvd.anzahl %>
                                <td><%= link_to 'Leihen', edit_dvd_path(dvd) %></td>
                            <% else %>
                                <td>Leihen</td>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <td><%= link_to 'Loeschen', dvd, :confirm => 'Sicher?', :method => :delete, :controller => :dvds%></td>
                    <% end %>
                <% end %>
                </tr>
            <% end %>


</table>
    

    
    
    

<% else %>
<% found = false %>
<% searchsplit =  @search.suche.split(" ") %>

    <table>
            <tr>
                <th></th>
                <th>Name</th>
    
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <th>Verliehen</th>
                        <th>Userids</th>
                        <th>Anzahl</th>
                    <% end %>
                <% end %>
    
                <th></th>
                <th></th>
                <th></th>
            </tr>


  <% @dvds.each do |dvd| %>
      
      <% namesplit =  dvd.name.split(" ") %>
      <% tagssplit =  dvd.tags.split(" ") %>
      <% genresplit =  dvd.genre.split(" ") %>
      <% x = 0 %>
      <% y = 0 %>
      <% c = 0 %>
    
        <% while x < searchsplit.size %>
          <% while y < namesplit.size || y < tagssplit.size || y < genresplit.size %>
            <% if searchsplit[x] == namesplit[y] || searchsplit[x] == tagssplit[y] || searchsplit[x] == genresplit[y] %>
            <% found = true %>
      
      
              
              
              <tr>
                <td><%= image_tag (dvd.bild),  :height => "75" %></td>
                <td><%= dvd.name %></td>
    
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <td><%= dvd.verliehen %></td>
                        <td><%= dvd.userids %></td>
                        <td><%= dvd.anzahl %></td>
                    <% end %>
                <% end %>
    
                <td><%= link_to 'Info', dvd %></td>
    
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <td><%= link_to 'Bearbeiten', edit_dvd_path(dvd) %></td>
                    <% else %>
            
                        <% @x = 0 %>
                        <% @y = false %>
                        <% @dvdusers = dvd.userids.split("-") %>
                        <% while @x < @dvdusers.size %>
                            <% if @dvdusers[@x] == current_user.id.to_s %>
                    
                                <% @y = true %>
                            <% end %>
                            <% @x = @x + 1 %>
                        <% end %>
    
                        <% if @y == true %>
                            <td><%= link_to 'Zurueckgeben', edit_dvd_path(dvd) %></td>
                        <% else %>
                            <% if dvd.verliehen < dvd.anzahl %>
                                <td><%= link_to 'Leihen', edit_dvd_path(dvd) %></td>
                            <% else %>
                                <td>Leihen</td>
                            <% end %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if user_signed_in? %>
                    <% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
                        <td><%= link_to 'Loeschen', dvd, :confirm => 'Sicher?', :method => :delete, :controller => :dvds%></td>
                    <% end %>
                <% end %>
                </tr>
              
              
              
              
          
            
            <% break %>
          <% else %> 
            <% y = y + 1 %> 
            <% end %> 
            
          <% end %>
          <% x = x +1 %>
      <%end%>  
  <%end%>
  
  </table>
  <% if found == false %>
    <div class="field">
        Es wurden keine Suchergebnisse gefunden! Probieren Sie andere Suchwoerter aus.
    </div>
  <% end %>



 
 

<%end%>