<% if user_signed_in? %>
		<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @search.user_id %>
</p>

<p>
  <b>Suche:</b>
  <%= @search.suche %>
</p>


<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>

<% end %>
<% end %> 