<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @dvd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :beschreibung %><br />
    <%= f.text_field :beschreibung %>
  </div>
  <div class="field">
    <%= f.label :verliehen %><br />
    <%= f.text_field :verliehen %>
  </div>
  <div class="field">
    <%= f.label :userids %><br />
    <%= f.text_field :userids %>
  </div>
  <div class="field">
    <%= f.label :anzahl %><br />
    <%= f.text_field :anzahl %>
  </div>
  <div class="field">
    <%= f.label :bild %><br />
    <%= f.text_field :bild %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
