<% if user_signed_in? %>
	<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
		<h1>DVD bearbeiten</h1>
	<% else %>
	<% @x = 0 %>
	<% @y = false %>
	<% @dvdusers = @dvd.userids.split("-") %>
	<% while @x < @dvdusers.size %>
		<% if @dvdusers[@x] == current_user.id.to_s %>
			<% @y = true %>
		<% end %>
		<% @x = @x +1 %>
	<% end %>
	<% if @y == true%>
		<h1>DVD zurueckgeben</h1>
	<% else %>
<h1>DVD ausleihen</h1>	<% end %>
	<%end%>
<%end%>

<%= form_for(@dvd) do |f| %>
  <% if @dvd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dvd.errors.count, "error") %> prohibited this dvd from being saved:</h2>

      <ul>
      <% @dvd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if user_signed_in? %>
	<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>	
		</div>
		<div class="field">
			<%= f.label :beschreibung %><br />
			<%= f.text_area :beschreibung, :size => '22x8' %>
		</div>
		<div class="field">
			<%= f.label :tags %><br />
			<%= f.text_field :tags %>
		</div>
		<div class="field">
			<%= f.label :anzahl %><br />
			<%= f.text_field :anzahl %>
		</div>
		<div class="field">
			<%= f.label :bild %><br />
			<%= f.text_field :bild %>
		</div>
		<div class="field">
			<%= f.label :genre %><br />
			<%= f.text_field :genre %>
		</div>
		<div class="field">
			<%= f.label :userids %><br />
			<%= f.text_field :userids %>
		</div>
		<div class="actions">
				<%= f.submit "Speichern"%>
		</div>
		
	<% else %>
	  
		<div class="actions">
			<%= f.submit "Bestätigen"%>
		</div>
<% end %>
<% end %>
<% end %>

<%= link_to 'Info', @dvd %> |
<%= link_to 'Zurueck', dvds_path %>
