<h1>Listing dvds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Verliehen</th>
    <th>Userids</th>
    <th>Anzahl</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dvds.each do |dvd| %>
  <tr>
    <td><%= dvd.name %></td>
    <td><%= dvd.beschreibung %></td>
    <td><%= dvd.verliehen %></td>
    <td><%= dvd.userids %></td>
    <td><%= dvd.anzahl %></td>
    <td><%= link_to 'Show', dvd %></td>
    <td><%= link_to 'Edit', edit_dvd_path(dvd) %></td>
    <td><%= link_to 'Destroy', dvd, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dvd', new_dvd_path %>
