<h1>Neue DVD</h1>
<%= form_for(@dvd) do |f| %>
<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>	
		</div>
		<div class="field">
			<%= f.label :beschreibung %><br />
			<%= f.text_area :beschreibung, :size => '22x8' %>
		</div>
		<div class="field">
			<%= f.label :tags %><br />
			<%= f.text_field :tags %>
		</div>
		<div class="field">
			<%= f.label :anzahl %><br />
			<%= f.text_field :anzahl %>
		</div>
		<div class="field">
			<%= f.label :bild %><br />
			<%= f.text_field :bild %>
		</div>

<div class="field">
			<%= f.label :genre %><br />
			<%= f.text_field :genre %>
		</div>
		<div class="actions">
    <%= f.submit %>
  </div>
<%end%>

<%= link_to 'Back', dvds_path %>
