<p id="notice"><%= notice %></p>

<%= image_tag (@dvd.bild),  :size => "400x268" %></a>


<p>
  <b>Name:</b>
  <%= @dvd.name %>
</p>
<br>
<p>
  <b>Beschreibung:</b>
  <%= @dvd.beschreibung %>
</p>
<br>
<% if user_signed_in? %>
	<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
<p>
  <b>Verliehen:</b>
  <%= @dvd.verliehen %>
</p>
<br>
<p>
<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<b>Verliehen an:</b>
  <% @dvdusers = @dvd.userids.split('-') %>
	<% @users.each do |user| %>
	<tr>
	<% @x = 0 %>
	<% while @x < @dvdusers.size %>
		<% if @dvdusers[@x] == user.id.to_s %>
			<td><%= user.id %></td>
			<td><%= user.name %></td>
			<td><%= link_to 'Zeigen', user %></td>
		<% end %>
	<% end %>
	
		
		
	
  </tr>
<% end %>
</table>
</p>
<br>
<p>
  <b>Anzahl:</b>
  <%= @dvd.anzahl %>
</p>
<br>
	<% end %>
<% end %>


<% if user_signed_in? %>
		<% if current_user.role == "admin" || current_user.role == "mitarbeiter" %>
			<td><%= link_to 'Bearbeiten', edit_dvd_path(@dvd) %></td>
		<% else %>
			
			<% @x = 0 %>
			<% @y = false %>
			<% @dvdusers = @dvd.userids.split("-") %>
			<% while @x < @dvdusers.size %>
				<% if @dvdusers[@x] == current_user.id.to_s %>
				    
					<% @y = true %>
				<% end %>
				<% @x = @x + 1 %>
			<% end %>
	
			<% if @y == true %>
				<td><%= link_to 'Zurueckgeben', edit_dvd_path(@dvd) %></td>
			<% else %>
				<% if @dvd.verliehen < @dvd.anzahl %>
					<td><%= link_to 'Leihen', edit_dvd_path(@dvd) %></td>
				<% else %>
					<td>Leihen</td>
				<% end %>
			<% end %>
		<% end %>
	<% end %> |
<%= link_to 'Back', dvds_path %>
