<!DOCTYPE html>
<html>
<head>
  <title>Dvd-Verleih</title>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container">
<div id="header">

</div>

<div id="navigation"> 
<%= link_to'Home', root_path %>&nbsp;&nbsp;
<%= link_to'DVDs', dvds_path %>  &nbsp;&nbsp;      




<% if user_signed_in? %>
  <%= link_to('Suche', :controller => 'searches' , :action => 'edit' , :id => current_user.id) %>&nbsp;&nbsp; 
  <%= link_to("Meine Dvds", dvd_meine_path) %>
  <%= link_to('Account', edit_user_registration_path) %>&nbsp;&nbsp; 
  <%= link_to("#{current_user.name} abmelden", destroy_user_session_path, :methode => :delete) %>
  <% if current_user.role == "admin" %>
      &nbsp;&nbsp; <%= link_to "User" , users_path %>
  <% end %>
<% else %>
<%= link_to('Anmelden', new_user_registration_path)  %>&nbsp;&nbsp; 
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>

</div>

<div id="content">
<%= yield %>
</div>

<div id="footer">
<%= link_to "Impressum" , pages_impressum_path %>&nbsp;&nbsp; <%= link_to "Kontakt" ,  pages_kontakt_path %>
</div>
</div>
</body>
</html>
